/* Example pvagw configuration
 *
 * Config for running in a container network
 *
 *
 */
{
    "version":2,
    "readOnly":false,
    "clients":[
        {
            "name":"theclient",
            "provider":"pva",
            "addrlist":"replace_with_broadcast_address",
            "autoaddrlist":false,
            "serverport":5075,
            "bcastport":5076
        }
    ],
    "servers":[
        {
            "name":"theserver",
            "clients":["theclient"],
            /* "interface":["127.0.0.1"], */
            /* "addrlist":"127.255.255.255", */
            "autoaddrlist":false,
            "serverport":5075,
            "bcastport":5076,
            "statusprefix":"sts:"
            /* "access":"some.acf", */
            /* "pvlist":"some.pvlist", */
        }
    ]
}